@import '@styles/mediaQuery';

.blog-top {
    width: 100%;
}

.container {
    display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.table-of-contents {
	padding: 1rem;
	border-radius: 15px;

	align-self: flex-start;

	& ul li {
		margin-bottom: 0.5rem;
		font-weight: 300;
		padding: 0;
	}

	& ul li:hover {
		color: var(--primary);
	}

	& ul li::marker {
		color: var(--primary);
	}

	@media (max-width: 768px) {
		display: none;
	}

	@media (min-width: 1024px) {
		width: 360px;
		position: fixed;
		left: 0;
		top: 40%;
		padding: 0 2rem;
	}
}

//  article cards
.article {
	display: flex;
	flex: 1 1 300px;
	max-width: 400px;
	justify-content: center;
	align-items: center;
	// background-color: var(--backgroundColor);
	border-radius: var(--borderRadius);
	text-align: start;
	// box-shadow: var(--boxShadow);
	border: var(--border);
	backdrop-filter: blur(20px);
	padding: var(--paddingContainer);
	-webkit-mask: var(--mask);
	mask: var(--mask);
	background: var(--articleCardBackground);



	&:hover {
		cursor: pointer;
		outline: 3px dashed var(--primary);
	}

	& > * {
		margin: 0 auto;
	}

	@include breakpoint-range($from: mobile) {
		flex-direction: column;
	}

	@include breakpoint-range($from: desktopSmall) {
		flex-direction: row;
	}

	&__image {
		aspect-ratio: 1/1;
	object-fit: contain;
	border-radius: 2px;
	display: none;

	@include breakpoint-range($from: desktopSmall) {
		display: flex;
	}
	}

	&__section {
		padding: 1rem;
	}

	&__date {
		font-size: 0.8rem;
		font-weight: 300;
		color: var(--textColorFade);
		font-family: var(--headingFont);
	}

	&__title {
		padding: 0;
		margin: 1rem 0;
		color: var(--text);
		font-family: var(--headingFont);
		font-weight: 500;
	line-height: 1;
	font-size: 1.3rem;

		@include breakpoint-range($from: mobile, $to: tablet) {
			font-size: 1.5rem;
			margin-left: 2rem;
		}
	}

	&__description {
		font-size: 1rem;
	font-weight: 400;
	line-height: 1rem;
	color: var(--textColor);
	background-color:  var(--articleCardBackground);

	@include breakpoint-range($from: mobile) {
		font-size: 0.8rem;
	}
	}

	&__tags {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5rem;
	}

	&__tag {
		padding: 0.2rem 0.5rem;
	border-radius: var(--borderRadius);
	background-color: var(--primary);
	color: var(--backgroundColor);
	font-size: 0.65rem;
	font-weight: 600;
	line-height: 1.2rem;
	}
}

.log {
	font-style: oblique;

	border-radius: var(--borderRadius);
	width: fit-content;


	&__date {
		font-weight: 400;
		font-size: 0.9rem;
		color: var(--textColorFade);
	}

	&__title {
		padding: 0;
		margin: 1rem 0;
		color: var(--text);
		font-family: var(--headingFont);
		font-weight: 500;
	line-height: 1;
	font-size: 1.3rem;
	// background-color: var(--backgroundColor);
	text-transform: capitalize;;

		@include breakpoint-range($from: mobile, $to: tablet) {
			font-size: 1.5rem;
			margin-left: 2rem;
		}
	}

	&__description {
		font-size: 1rem;
	font-weight: 400;
	line-height: 1rem;
	color: var(--textColor);
	// background-color:  var(--backgroundColor);

	@include breakpoint-range($from: mobile) {
		font-size: 0.8rem;
	}
	}
}
