.breadcrumbList {
    display: flex;
    flex-flow: row wrap;
    place-items: center;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin: auto 0;
    margin-right: 2rem;
    height: 100%;

    & li::marker {
        content: '';
    }
}

.breadcrumbItem {
    margin: auto 0.5rem auto auto;
}

.breadcrumbItem a {
    color: var(--primary);
}

.breadcrumbItem a:hover {
    color: var(--secondary);
}

// .breadcrumbItem::after {
//     content: '/';
//     margin-left: 2px;
//     margin-right: 2px;
// }

.breadcrumbItem:last-child a {
    color: var(--secondary);
}

.breadcrumbItem:last-child::after {
    content: '';
}