.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding);
}

.project-tabs {
    margin: 0 auto;
    padding-bottom: 2rem;
    display: flex;
}

.project-tab {
    padding: var(--padding-small);
    margin-right: 1rem;
    border-radius: var(--border-radius);
    outline: none;
    border: var(--border);
    color: var(--grey);
    background-color: transparent;
    text-transform: capitalize;
}

.project-tab:active, .project-tab:hover {
    background-color: var(--grey);
    color: var(--body);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-overlay {
    flex:  0 1 300px;
    margin: 1.5rem;
}

.project-info {
    width: 100%;
    text-align: start;
    position: relative;
    gap: 1rem;
}
.project-lang {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin: 1rem 0;
    opacity: 0.8;
}

.project-lang > div > a {
    color: var(--grey);
}

.project-lang > div > a:not(:last-child)::after{
    content: "+ ";
}

.project-lang > * {
    margin-right: 1rem;
}
.project-language {
    font-weight: 700;
}

.project-title  {
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.project-description {
    padding: 0.5rem 0;
    color: var(--muted);
    margin-bottom: 1rem;
    font-size: 0.75rem;
    text-align: justify;
}

.project-year {
    font-weight: 200;
}

.project-overlay {
    z-index: 999;
    border-radius: var(--border-radius);
}
