@import '@styles/mediaQuery';

.nolist {
	list-style: none;
}

.month {
	font-family: "Garamond";
	display: flex;
	justify-content: space-between;
	font-size: 2.5rem;
	font-weight: 600;
	list-style: none;
	margin: 2rem 0;
}

.list {

	&__section {
        max-width: 45rem;
	}

	&__section div {
		display: flex;
		flex-wrap: wrap;
	}

	&__date {
		display: flex;
		font-weight: 600;
		font-size: clamp(1rem, 2vw, 2rem);
		// font-family: "Inter";
		// font-family: "Cattedrale";
		align-items: center;
		margin-right: 0.5rem;
	}

	&__title {
		text-align: left;;
		font-family: "Garamond";
		font-size: clamp(1.5rem, 2vw, 2rem);
		margin: 0;
	}

	&__description {
		margin-top: 0;
		margin-bottom: 1rem;
		text-overflow: ellipsis;
		font-size: 1.5rem;
		line-height: 1.2;
		font-family: "Garamond Italics";
		opacity: 0.8;
		color: var(--textColor);
        text-align: left;
	}
}
