@import '@styles/mediaQuery';

.container {
	display: flex;
	gap: 1rem;

	@include breakpoint-range($from: mobile) {
		flex-direction: column;
		width: clamp(10rem,80%,30rem);
		margin: 1rem;
		justify-content: center;
		gap: 1rem;
	}

	@include breakpoint-range($from: desktopSmall) {
		flex-direction: row;
		width: clamp(20rem,100%,35rem);
		margin: 0.5rem auto;
	}
}

.primary,
.secondary,
.border {
	align-items: center;
	width: 100%;
	
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	overflow: hidden;
	padding: var(--paddingObject);
	position: relative;
	user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	text-transform: capitalize;
	will-change: box-shadow, transform;
	border-radius: var(--borderRadius);

	&:hover {
		opacity: 1;
		transform: translateY(-2px);
		background-color: var(--secondary);
		color: var(--textColor);
		transition:
			box-shadow 0.15s,
			background-image 0.15s;
	}

	@include breakpoint-range($from: mobile, $to: tablet) {
		padding: 2rem 3rem;
		max-width: 30rem;
	}
}

.primary {
	background-image: var(--primary);
	box-shadow: var(--boxShadow);
	background-color: var(--primary);
	color: var(--backgroundColor)
}

.secondary {
	background: transparent;
	color: var(--primary);
	border: var(--borderColor);
}

.border {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 50px;
}

.border:hover {
	border-radius: 50px;
	font-weight: 600;
	background-color: var(--backgroundColor);
}

.border::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px; 
	border: 5px solid transparent;
	background: linear-gradient(45deg,var(--primary),var(--secondary)) border-box;
	-webkit-mask:
	  linear-gradient(#fff 0 0) padding-box, 
	  linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}
