@import '@styles/mediaQuery';


.release {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: flex-start;

    &__container {
        background-color: var(--backgroundColor);
    }

    &__content {
        justify-content: flex-start;
        position: relative;

    }

    &__timeline {
        position: sticky;

        @include breakpoint-range($from: mobile) {
            & > svg {
                margin-left: -12px;
            }
        }

        @include breakpoint-range($from: desktopSmall) {
            & > svg {
                margin-left: -12px;
            }
        }
    }

    &__left {

        h2 {
            max-width: 200px;
            font-weight: 500;
            color: var(--primary);
        }

        @include breakpoint-range($from: desktopSmall) {
            width: clamp(200px, 100%, 350px);
        }
    }

    &__details {
        border-left: 1px solid var(--textColorFade);
        padding-left: 20px;
        display: flex;
        backdrop-filter: blur(20px);

        p {
            backdrop-filter: none;
            margin: 0;
            font-weight: 300;
        }

        @include breakpoint-range($from: mobile) {

            flex-direction: column;
        }

        @include breakpoint-range($from: tablet) {
            flex-direction: column;
        }

        @include breakpoint-range($from: desktopSmall) {
            flex-direction: row;

        }
    }

    &__markdown {

        @include breakpoint-range($from: desktopSmall) {
            width: clamp(200px, 100%, 450px);
        }


        flex-wrap: wrap;

        p,
        p a {
            margin: 0;
            font-family: 'Fira Code', monospace;

            @include breakpoint-range($from: mobile) {
                max-width: 10rem;
            }

            @include breakpoint-range($from: tablet) {
                max-width: 45rem;
            }

            @include breakpoint-range($from: desktopSmall) {
                max-width: 35rem;
            }
        }

        ul {
            margin: 0.5rem;
        }

        li {
            // list-style: none;
            font-family: 'Fira Code', monospace;
            letter-spacing: -1px;
            ;

            a {
                font-size: 0.8rem;
            }

            @include breakpoint-range($from: mobile) {
                max-width: 15rem;
            }

            @include breakpoint-range($from: desktopSmall) {
                max-width: 55rem;
            }
        }

        // release title
        a h2 {
            font-size: 2rem;
            margin-bottom: 0;

        }

        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            font-family: var(--bodyFont);
            margin: 0.5rem 0;
        }
    }
}
