@import '@styles/mediaQuery';

.button-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.25rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;

	@include breakpoint-range($from: mobile, $to: desktopSmall) {
		flex-direction: column;
	}

	@include breakpoint-range($from: desktopSmall, $to: desktopLarge) {
		flex-direction: row;
	}

	@include breakpoint-range($from: desktopSmall) {
		padding: 0.5rem 3rem;
	}
}

.section {
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;
}

.cta {
	@extend .section;

	.text {
		padding: var(--paddingContainer);
		border-radius: var(--borderRadius);
		font-weight: 300;
		max-width: 30rem;
		text-align: center;
		color: var(--primary);

		& p {
			line-height: 1.2;
			font-size: 1.4rem;
			margin-top: 2rem;
		}
	}

	@include breakpoint-range($from: desktop) {
		position: absolute;
		bottom: 10%;
		left: 10%;
	}
}

.model {
	@extend .section;

	z-index: 99;

	@include breakpoint-range($from: mobile) {
		display: none;
	}

	@include breakpoint-range($from: tablet) {
		display: flex;
	}

	@include breakpoint-range($from: desktop) {
		position: absolute;
		bottom: 15%;
		right: 10%;
		margin:auto
	}
}
