
.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.2rem;
    
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    max-width: 100%;
    max-height: 100%;
    background: url('/img/blog/cd_case.png') no-repeat center center;
    background-size: cover;
    background-color: var(--backgroundColor);
    transform: rotate(-4deg);

    &__wrapper {
        display: flex;
    }

    &__cd {
        position: relative;
        width: 100%;
        left: 20%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: url('/img/blog/cd.webp') no-repeat center center;
        background-size: cover;
        z-index: -1;

        &:hover {
                left: 40%;
                transition: 0.5s ease-in-out;
        }
    }

    &__song {
        text-transform: lowercase;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: left;
        color: var(--primary);
        font-family: var(--headingFont);
        text-shadow: 0 0 2px var(--primary);
    }
}
