@import '../mediaQuery';

.directory-list {
  align-items: center;
}

.directory-section {
  right: 0;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  @include breakpoint-range($from: mobile) {
    margin: 1rem auto;
  }

  @include breakpoint-range($from: desktopSmall) {
    margin: 2rem 4rem;

  }
}

.directory-link {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: var(--textColor);
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-media {
  margin: 0 1rem;
  font-size: 1.3rem;
  color: var(--primary);
}

.site-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;

  &:hover {
    filter: invert(9%) sepia(22%) saturate(4893%) hue-rotate(6deg) brightness(95%) contrast(102%);
  }

  @include breakpoint-range($from: mobile) {
    background-image: none;

    &::before {
      content: 'Sabrina';
      color: var(--textColor);
      font-size: clamp(4rem, 10vw, 8rem);
      font-family: "Cattedrale Rough";
      text-transform: capitalize;
      margin: 0;
      letter-spacing: -2px;
      user-select: none;
      pointer-events: none;
    }
  }

  @include breakpoint-range($from: desktopSmall) {
    &::before {
      margin-left: 4rem;
      // text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
      //   0px 8px 13px rgba(0, 0, 0, 0.1),
      //   0px 18px 23px rgba(0, 0, 0, 0.1);
    }
  }

  // @include breakpoint-range($from: tablet) {
  //   &::before {
  //     content: "";
  //   }
  //   margin: 0 auto;
  //   height: 220px;
  //   width: 600px;
  //   content: none;
  //   background-image: url(../../assets/images/Sitename.svg);
  //   background-repeat: no-repeat;
  //   background-position: cover;
  // }
}
