@import '@styles/mediaQuery';

.paragraph {

    & h1, & h2, & h3 {
        font-family: "Garamond";
    }

    & ul {
        @include breakpoint-range($from: mobile, $to: tablet) {
            margin: 0 auto;
            margin-left: 1rem;
        }

    }

    & ul li {
        text-indent: 0.5rem;
    }

    .spring {
        li::marker {
            content: '🩸';
        }
    }

    .summer {
        li::marker {
            content: '🔆';
        }
    }

    .fall {
        li::marker {
            content: '👻';
        }
    }

    .winter {
        li::marker {
            content: '🪦';
        }
    }
}

.behind {
    text-transform: uppercase;
    color: var(--textColorFade);
}
