@import '@styles/mediaQuery';

.behind {
    margin-top: 2rem;
    width: 90%;
    opacity: 0.7;
    cursor: pointer;

    &[open] > summary {
        text-decoration: line-through;
    }
    
    summary {
        opacity: 0.5;

        &::marker {
            content: none;
        }

        &:hover {
            text-decoration: line-through;
        }
    }
}

.heading {
    @include breakpoint-range($from: mobile, $to: tablet ) {
        text-indent: 2rem;
    }

}

.spring, .winter, .doing {

    li {
        font-weight: 400;
        text-indent: 0.5rem;
        color: var(--primary);
        &::marker {
            font-size: 0.5rem;
        } 
    }
}

.spring {
    li::marker {
            content: '🌱';
    }
}

.summer {
    li::marker {
            content: '🌿';
    }
}

.fall {
    li::marker {
            content: '🍂';
    }
}

.winter {
    li::marker {
            content: '🌰';
    }
}

.doing {
    & li > a {
        font-weight: 400;
    }
}
