@import '@styles/mediaQuery';

.wrapper,
.project-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: var(--paddingObject);
	width: 100%;
}

.wrapper {
	flex-direction: row;
	justify-content: center;
	align-items: center;

	@include breakpoint-range($from: mobile) {
		gap: 0;
	}

	@include breakpoint-range($from: desktopSmall) {
		gap: 0.5rem;
	}
}

.project-tabs {
	margin: 0 auto;
	padding-bottom: var(--paddingObjectSmall);
	display: flex;
	gap: 0.5rem;
}

.project-tab {
	padding: var(--paddingObject);
	border-radius: var(--borderRadius);
	outline: none;
	border: var(--border);
	color: var(--textColorFade);
	background-color: transparent;
	text-transform: capitalize;
}

.project-tab:active,
.project-tab:hover {
	background-color: var(--primary);
	color: var(--backgroundColor);
}

.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.project-overlay {
	display: flex;
	flex-direction: row;

	// background-color: var(--backgroundColor);
	padding: var(--paddingObject);
	border: var(--border);
	border-radius: var(--borderRadius);
	// box-shadow: var(--boxShadow);

	@include breakpoint-range($from: mobile) {
		flex: 0 1 300px;
		margin: 0.5rem;
	}

	@include breakpoint-range($from: desktopSmall) {
		flex: 0 1 375px;
		margin: 0.25rem;
	}
}

.project-info {
	width: 100%;
	text-align: start;
	position: relative;
	gap: 1rem;
}

.project-lang {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	font-size: 0.75rem;
	font-weight: 500;
	opacity: 0.8;
	margin: 0.5rem;
	justify-content: center;
}

.project__tech {
	color: var(--primary);
}

.project__title {
	font-size: 1.3rem;
	text-align: start;
	margin-bottom: 1rem;
	margin-top: 1rem;
	font-weight: 500;
	text-shadow: none;
	color: var(--textColor);
	font-family: var(--bodyFont);
}

.project__description {

	color: var(--textColor);
	font-size: 0.8rem;

	@include breakpoint-range($from: desktopSmall) {
		font-size: 0.9rem;
		margin-top: 2.5rem;

		& span {

			width: clamp(200px, 100%, 20rem);
			right: 0;
		}
	}

}

.project-year {
	font-weight: 200;
	font-family: var(--headingFont);
}

.project-year,
.project-title {
	font-family: var(--headingFont);
}

.project__image {
	display: flex;
	color: var(--textColorFade);
	height: 100%;

	@include breakpoint-range($from: desktopSmall) {
		height: clamp(400px, 100%, 600px);
	}
}

.project__code {
	font-size: 1.2rem;
	color: var(--textColorFade);
}


.latest__container {

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;

	@include breakpoint-range($from: mobile) {
		width: clamp(200px, 100%, 400px);
	}

	@include breakpoint-range($from: desktopSmall) {
		width: clamp(400px, 100%, 50vw);
	}
}

.latest__description {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	@include breakpoint-range($from: mobile) {
		width: 100%;

		p {
			margin: 0;
		}
	}

	@include breakpoint-range($from: desktopSmall) {
		width: 50%;
	}

}

.others__container {
	display: flex;


	@include breakpoint-range($from: mobile) {
		flex-direction: column;
	}

	@include breakpoint-range($from: desktopSmall) {
		flex-direction: row;
	}
}

.others {
	@include breakpoint-range($from: mobile) {
		width: 100%;
	}

	@include breakpoint-range($from: desktopSmall) {
		width: 50%;
	}

}

.description {
	width: clamp(20rem, 100%, 25rem);
	margin: clamp(1rem, 20%, 3rem) auto;
	line-height: 1.4;
}
