@import '@styles/mediaQuery';

.container {
    gap: 1rem;
}

.link {
    border: var(--border);
    padding: var(--paddingContainer);
    border-radius: var(--borderRadius);

    @include breakpoint-range($from: mobile) {
        width: 100%;
    }

    @include breakpoint-range($from: desktopSmall) {
        width: clamp(200px, 35vw, 500px);
    }

    & a h4 {
        color: var(--primary);
        font-weight: 500;
        margin-bottom: 1rem;
    }

    & a p {
        color: var(--textColor);
        font-weight: 400;
        font-size: 0.9rem;
        opacity: 0.85;
    }
}
