@import '@styles/mediaQuery';

.terms {
margin: 3rem auto;

	& > p {
		max-width: 55rem;
		text-align: justify;

		@include breakpoint-range($from: mobile, $to: tablet) {
			margin: 1.5rem 1rem;
		}
	}
}

.card {
	margin: 0.5rem auto;
	padding: var(--padding-small);
	display: flex;
	flex-direction: column;
	border: var(--border);
	border-radius: var(--border-radius);

	// TODO: Fix section hover
	&:hover,
	&:active {
		background: var(--faint);
		border-radius: var(--border-radius);
	}

	@media (max-width: 750px) {
		width: 100%;
		height: max-content;
		padding: 1rem;
		margin: 0 auto;
		margin-bottom: 1rem;
	}

	@media (min-width: 1024px) {
		margin: 0.5rem;
		height: 350px;
	}

	& > h2 {
		color: var(--primary);
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0;
		text-align: center;

		@media (max-width: 550px) {
			font-size: 2rem;
		}

		@media screen and (max-width: 1200px) {
			max-width: 25rem;
			line-height: 1.1;
		}
	}

	& > p {
		max-width: 25rem;
		line-height: 1.5;
		font-size: 0.9rem;
		color: var(--caption);

		@media (max-width: 550px) {
			width: 100%;
		}
	}

	& img {
		padding: 0.5rem;

		@media screen and (max-width: 1024px) {
			display: none;
		}

		@media screen and (min-width: 1024px) {
			width: 277px;
			height: 100%;
		}
	}
}
