.photoContainer {
	position: relative;

	 @media screen and (min-width: 0px) and (max-width:  768px)  {
		display: none;
	}

	 breakpoint-range($from: tablet, $to: desktopLarge) {
		top: 60%;
		left: -35%;
		max-width: 800px;
		margin-right: 2rem;
	}
}

.picture {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid var(--borderColor);
	border-radius: ar(--borderRadius);
	background: var(--backgroundColor);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	transform: translate(-50%, -50%);
	user-select: none;
	cursor: pointer;

	& img {
		display: block;
		width: 200px;
		pointer-events: none;
	}

	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 50px;
		padding: 12px 24px;
		font-size: 1rem;
		text-align: center;
		font-family: 'Caveat', 'Inter', sans-serif;
		overflow: hidden;
		line-height: 1;
	}

	@media screen and (min-width: 0)  {
		display: none;
	}

	 @media screen and (min-width: 960px)  {
		display: block;
	}
}
