.button-block {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 0.7rem;

	& a {
		color: var(--textColor);
		text-transform: uppercase;
		font-size: 0.7rem;
		font-weight: 600;
	}

	& a:hover {
		color: var(--secondary);
	}
} 

.container {
	display: flex;
	gap: 1rem;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	align-items: center;

	@media screen and (min-width: 0)  {
		flex-direction: column;
		width: clamp(10rem, 80%, 30rem);
		margin: 0rem auto;
		justify-content: center;
		gap: 1rem;
	}

	 @media screen and (min-width: 960px)  {
		flex-direction: row;
		width: clamp(20rem, 100%, 50rem);
		margin: 0rem auto;
	}
}

// <button class="button-40" role="button">
//   <span class="text">Button 40</span>
// </button>

/* CSS */
.button-40 {
	--glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.781);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
	border: .25em solid var(--glow-color);
	padding: 1rem 3em;
	color: var(--glow-color);
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em .25em var(--glow-color),
		0 0 4em 1em var(--glow-spread-color),
		inset 0 0 .75em .25em var(--glow-color);
	text-shadow: 0 0 .5em var(--glow-color);
	position: relative;
	transition: all 0.3s;
}

.button-40::after {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: .7;
	transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button-40:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em .25em var(--glow-color),
		0 0 4em 2em var(--glow-spread-color),
		inset 0 0 .75em .25em var(--glow-color);
}

.button-40:active {
	box-shadow: 0 0 0.6em .25em var(--glow-color),
		0 0 2.5em 2em var(--glow-spread-color),
		inset 0 0 .5em .25em var(--glow-color);
}


.glass {
	display: flex;
	place-items: center;
	justify-content: start;
	width: 100%;
	min-height: 2rem;
	padding: 0.75rem 1.5rem;
	color: var(--textColor);
	font-weight: 500;
	background: rgba(49, 0, 0, 0.05);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	isolation: isolate; 
	border: 1px solid rgba(250, 163, 163, 0.2);
	box-shadow: 0 8px 32px rgba(49, 0, 0, 0.1);
	border-radius: var(--borderRadius);

	&:hover {
		background: rgba(255, 0, 0, 0.25);
		box-shadow: 0 12px 48px rgba(102, 0, 0, 0.2);
		cursor: pointer;
		transition: background 0.3s ease, box-shadow 0.3s ease;
	}

	&:active {
		background: rgba(255, 255, 255, 0.35);
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	}

	& .icon {
		float: left;
		margin-right: 1rem;
	}

	& .arrow {
		position: relative;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.25;
	}

	button {
		background: none;
		border: none;
		color: inherit;
		font: inherit;
		cursor: pointer;
		padding: 0;
		margin: 0;
		display: inline;
	}
}

.glass-text {
	display: flex;
	flex-direction: column;
	justify-content: start;
	text-align: left;
	margin-top:1rem;
	 


	& .title {
		font-size: 0.7rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
		opacity: 0.8;
		margin: 0;
	}

	& .info {
		font-size: 0.85rem;
		font-weight: 300;
		margin-top: 0.25rem;
	}
}


.primary,
.secondary,
.border {
	align-items: center;
	width: 100%;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	overflow: hidden;
	padding: var(--paddingContainer);
	position: relative;
	user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	text-transform: capitalize;
	will-change: box-shadow, transform;
	border-radius: var(--buttonBorderRadius);

	&:hover {
		opacity: 1;
		transform: translateY(-2px);
		background-color: var(--secondary);
		color: var(--backgroundColor);
		transition:
			box-shadow 0.15s,
			background-image 0.15s;
	}

	 @media screen and (min-width: 0px) and (max-width:  768px)  {
		padding: 2rem 3rem;
		max-width: 30rem;
	}
}

.primary {
	// box-shadow: var(--boxShadow);
	background-color: var(--primary);
	color: var(--backgroundColor);
	font-weight: 600;
}

.secondary {
	background: transparent;
	color: var(--primary);
	border: var(--borderColor);
	padding: 1rem;
	font-weight: 400;

	&:hover {
		// button text becomes too thin when hovered
		font-weight: 600;
	}
}

.border {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 50px;
}

.border:hover {
	border-radius: 50px;
	background-color: var(--backgroundColor);
}

.border::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	border: 5px solid transparent;
	background: linear-gradient(45deg, var(--primary), var(--secondary)) border-box;
	-webkit-mask:
		linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	mask: linear-gradient(#fff 0 0) padding-box,
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}


// <!-- HTML !-->
// <button class="vamp" role="button">
//   <span class="text">Button 13</span>
//   <span class="vamp-background"></span>
//   <span class="vamp-border"></span>

//   <!-- mask-border fallback -->
//   <svg style="position: absolute;" width="0" height="0">
//     <filter id="remove-black-vamp" color-interpolation-filters="sRGB">
//       <feColorMatrix type="matrix" values="1 0 0 0 0
//                 0 1 0 0 0
//                 0 0 1 0 0
//                 -1 -1 -1 0 1" result="black-pixels"></feColorMatrix>
//       <feComposite in="SourceGraphic" in2="black-pixels" operator="out"></feComposite>
//     </filter>
//   </svg>
// </button>

/* CSS */
.vamp {
	touch-action: manipulation;
	background: none;
	position: relative;
	border-width: 4px 12px;
	border-style: solid;
	border-color: transparent;
	padding: 1rem 3rem;
	text-align: center;
	transition-property: transform;
	transition-duration: 0.4s;
	font-size: 1rem;
	font-weight: 600;
	;
}

.vamp:active {
	transform: scale(0.92);
}

.vamp-background {
	position: absolute;
	z-index: 2;
	inset: 0;
	clip-path: polygon(12px 0, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
	background-color: var(--primary);
	background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.8)), linear-gradient(to bottom, #af6a65, calc(12.5% - 1px), #cfa381, #88312b calc(12.5% + 1px) 50%, #601d2c 50% calc(87.5% - 1px), #994021, var(--primary) calc(87.5% + 1px));
	transition-property: filter;
	transition-duration: 0.2s;
	will-change: filter;
}

.vamp-background-alt {
	position: absolute;
	z-index: 2;
	inset: 0;
	clip-path: polygon(12px 0, calc(100% - 12px) 0%, 100% 12px, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0% calc(100% - 12px), 0% 12px);
	background-color: #333232;
	transition-property: filter;
	transition-duration: 0.2s;
	will-change: filter;
}

.vamp .text {
	background: linear-gradient(180deg, #ccc 1%, #fff 100%), var(--textColor);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 500;
	color: transparent;
	z-index: 3;
	position: relative;
}

@media (hover: hover) {

	.vamp:hover .vamp-background,
	.vamp:hover .vamp-background-alt {
		filter: brightness(0.5);
	}
}

.vamp:active .vamp-background,
.vamp:active .vamp-background-alt {
	filter: brightness(0.1);
}

.vamp-border {
	position: absolute;
	z-index: 1;
	inset: -4px -12px;
}

@supports (-webkit-mask-box-image: inherit) or (mask-border: inherit) {
	.vamp-border {
		background-image: linear-gradient(to bottom, #adadac 50%, #8b8b8a 50%);
		-webkit-mask-box-image-source: url("../../assets/images/baldurs-gate-3-border.svg");
		-webkit-mask-box-image-slice: 15 23;
		-webkit-mask-box-image-width: 15px 23px;
		-webkit-mask-box-image-repeat: repeat;
		mask-border-source: url("../../assets/images/baldurs-gate-3-border.svg");
		mask-border-slice: 15 23;
		mask-border-width: 15px 23px;
		mask-border-repeat: repeat;
	}
}

@supports not ((-webkit-mask-box-image: inherit) or (mask-border: inherit)) {
	.vamp-border {
		border-width: 15px 23px;
		border-style: solid;
		border-color: transparent;
		border-image-source: url("../../assets/images/baldurs-gate-3-border-inverted.svg");
		border-image-slice: 15 23;
		border-image-width: 15px 23px;
		border-image-repeat: repeat;
		background-image: linear-gradient(#000, #000), linear-gradient(to bottom, #c4c3c3 50%, #7c7c7c 50%);
		background-origin: content-box, border-box;
		background-repeat: no-repeat;
		filter: url("#remove-black-vamp");
	}
}