 


.release {
    margin: 0 auto;
    width: clamp(100px, 80vw, 45rem);

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

         @media screen and (min-width: var(--desktopSmall))  {
            justify-content: center;
        }
    }

    &__content {
        justify-content: flex-start;
        position: relative;

        &::marker {
            content: none;
        }

    }

    &__timeline {
        position: sticky;
        color: var(--primary);


        &>svg {
            margin-left: -29px;
        }
    }

    &__left {

        h2,
        p {
            margin: 0;
        }

        h2,
        p {
            text-align: left;
            color: var(--primary);
        }

         @media screen and (min-width: var(--desktopSmall))  {
            width: clamp(200px, 100%, 400px);
        }
    }

    &__details {
        border-left: 1px solid var(--secondary);
        padding-left: 1rem;
        display: flex;

        @media screen and (min-width: 0)  {

            flex-direction: column;
            gap: 2rem;
        }

         @media screen and (min-width: var(--tablet))  {
            flex-direction: column;
        }

         @media screen and (min-width: var(--desktopSmall))  {
            flex-direction: row;

        }
    }

    &__markdown {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 40rem;

        a {
            opacity: 0.5;
        }

        p,
        p a,
        li,
        a {
            margin: 0;
            overflow-wrap: break-word;
            max-width: 30rem;
            
        }

        ul {
            margin: 0rem;
            margin-bottom: 2rem;
        }

        li {
            backdrop-filter: blur(10px);
            padding: 0.5rem;;
            margin-bottom: 1rem;

            @media screen and (min-width: 0)  {
                max-width: 18rem;
                margin-left: 1rem;
            }

             @media screen and (min-width: var(--tablet))  {
                margin-left: 1.5rem;
                max-width: 30rem;
            }
        }

        // displaying this unweidly link creates too many problems to keep it.
        & p:last-child {
            display: none;
        }

        h3,
        strong {
            text-align: left;
            font-weight: 300;
            margin: 1rem 0;
            color: var(--primary);
        }
    }
}