@import '@styles/mediaQuery';


.release {

    margin: 0 auto;
    width: clamp(100px, 80vw, 50rem);

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @include breakpoint-range($from: desktopSmall) {
            justify-content: center;
        }
    }

    &__content {
        justify-content: flex-start;
        position: relative;

        &::marker {
            content: none;
        }

    }

    &__timeline {
        position: sticky;
        color: var(--primary);


        & > svg {
            margin-left: -28px;
        }


    }

    &__left {

        h1, p {
            margin: 0;
        }

                h1,
        p {
            text-align: left;
            // font-weight: 500;
            color: var(--primary);
        }

        @include breakpoint-range($from: desktopSmall) {
            width: clamp(200px, 100%, 400px);
        }
    }

    &__details {
        border-left: 1px solid var(--secondary);
        padding-left: 1rem;
        display: flex;

        @include breakpoint-range($from: mobile) {

            flex-direction: column;
            gap: 2rem;
        }

        @include breakpoint-range($from: tablet) {
            flex-direction: column;
        }

        @include breakpoint-range($from: desktopSmall) {
            flex-direction: row;

        }
    }

    &__markdown {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 40rem;

        a {
            opacity: 0.5;
        }

        p,
        p a,
        li,
        a {
            font-size: 1.3rem;
            margin: 0;
            overflow-wrap: break-word;
            max-width: 30rem;
            line-height: 1.3;
        }

        ul {
            margin: 0rem;
            margin-bottom: 2rem;
        }

        li {

            margin-bottom: 1rem;

            @include breakpoint-range($from: mobile) {
                max-width: 18rem;
                margin-left: 1rem;
            }

            @include breakpoint-range($from: tablet) {
                margin-left: 1.5rem;
                max-width: 30rem;
            }
        }

        // displaying this unweidly link creates too many problems to keep it.
        & p:last-child {
            display: none;
        }

        h2,
        strong {
            text-align: left;
            font-weight: 300;
            margin: 1rem 0;
            color: var(--primary);
        }
    }
}
