 

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	& a {
		color: var(--textColor);
	}


    @media screen and (min-width: 0)  {
        flex-wrap: wrap;
    }
}

.error__code {
    font-family: var(--accentFont);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-weight: 900;
	letter-spacing: 1rem;
	text-align: center;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background: var(--loadingBackground);
	background-size: 100px 100px;
	background-clip: text;
	-webkit-background-clip: text;
	animation: stripeBackgroundPosition 2s linear infinite;

     @media screen and (min-width: var(--mobile)) and (max-width: var(--tablet))  {
        font-size: 5rem;
    }

     breakpoint-range($from: tablet, $to: desktopSmall) {
        font-size: 10rem;
    }

     @media screen and (min-width: var(--desktopSmall))  {
        font-size: 20rem;
    }
}

.error__container {
    width: 80%;
	display: flex;
	flex-direction: column;
	place-items: center;
	text-align: center;
	@media (max-width: 750px) {
		width: 100%;
	}
}

.error__description {
	margin-top: 0.2rem;
	color: var(--textColor);
}

.error_description_container {
	width: 50%;
	display: flex;
	flex-direction: column;
	place-items: center;
	text-align: center;
	@media (max-width: 750px) {
		width: 100%;
	}
}

@keyframes stripeBackgroundPosition {
		0% {
			background-position: 0 0;
		}
		100% {
			background-position: calc(100px * -1) 0;
		}
	}

@keyframes stripeTransform {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(calc(100px * -1));
		}
	}
