@import '@styles/mediaQuery';

.wrapper {
    display: flex;
    margin: 3rem auto 0 auto;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    place-items: center;

    p {
        font-size: 1.2rem;
    }

    .notes-list {
        flex-direction: row;
        justify-content: center;
        max-height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.note-date {
    display: none
}

.note-date {
    display: flex;
    font-size: 0.7rem;
    opacity: 0.7;
}

.notes-list {
    margin-top: 2.5rem;
    max-width: 70rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;

    & li {
        width: fit-content;

        &::marker {
            content: '';
        }

        &>a {
            color: var(--textColor);
        }

        border: var(--border);
        border-radius: var(--borderRadius);
        backdrop-filter: blur(5px);
        padding: var(--paddingObject);
        font-size: 1.2rem;
        margin: 0.25rem;
        text-transform: capitalize;
    }

    & li:hover {
        background: rgba(211, 0, 0, 0.4);
        transition: 200ms ease-in-out;
    }
}