@import '@styles/mediaQuery';

.wrapper {
    display: flex;
    margin: 0 auto;

    @include breakpoint-range($from: mobile) {
        flex-direction: column;
    }

    @include breakpoint-range($from: tablet) {}

    @include breakpoint-range($from: desktopSmall) {
        height: 95vh;
        flex-direction: row;
        justify-content: center;
        place-items: center;

        p {
            font-size: 1.4rem;
        }

        .notes-list {
            flex-direction: row;
            justify-content: center;
            max-height: 300px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

.notes-list {
    margin-top: 2rem;
    max-width: 45rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;


    & li {
        &::marker {
            content: '';
        }

        & > a {
            color: var(--textColor);
        }

        border: var(--border);
        border-radius: var(--borderRadius);
        backdrop-filter: blur(5px);
        padding: var(--paddingObject);
        font-size: 1.4rem;
        margin: 0.5rem auto;
        text-transform: capitalize;

        & > small {
            opacity: 0.75;
        }
    }

    & li:hover {
        border-color: var(--secondary);
        transition: 200ms ease-in-out;
     }
}
