@import '@styles/mediaQuery';

.wrapper {
    display: flex;

    h1 {
        font-size: clamp(1rem, 25vw, 6.5rem);
        font-family: "Cattedrale Rough", sans-serif;
        text-transform: capitalize;
        -webkit-text-stroke: 2px solid var(--border);
        letter-spacing: -2px;
        user-select: none;
        pointer-events: none;
    }


    @include breakpoint-range($from: mobile) {
        flex-direction: column;
    }

    @include breakpoint-range($from: tablet) {
   
    }

    @include breakpoint-range($from: desktopSmall) {
        flex-direction: row;
        justify-content: center;

        .notes-list {
            margin-top: 4rem;
            max-height: 400px;
            overflow-y: scroll;
        }
    }
}


.notes-list {
    display: flex;
    gap:1rem 2rem;

    & li {
        margin: 1rem auto;
    }
}
