@import '@styles/mediaQuery';

.wrapper {
    display: flex;

    h1 {
        font-size: clamp(1rem, 25vw, 3rem);
        width: 100%;
        ;
        font-family: "Cattedrale Rough", sans-serif;
        text-transform: capitalize;
        letter-spacing: -2px;
        user-select: none;
        pointer-events: none;
    }


    @include breakpoint-range($from: mobile) {
        flex-direction: column;
    }

    @include breakpoint-range($from: tablet) {}

    @include breakpoint-range($from: desktopSmall) {
        flex-direction: row;
        justify-content: center;

        .notes-list {
            flex-direction: row;
            justify-content: center;
            max-height: 500px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}


.notes-list {
    margin-top: 4rem;
    max-width: 45rem;
    display: flex;
    gap: 2rem;
    

    & li {
        &::marker {
            content: '';
        }
        backdrop-filter: blur(5px);
        padding: 0.5rem;
        font-size: 1.2rem;
        margin: 1rem auto;
    }
}
