@import '@styles/mediaQuery';

.button-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.15rem;
}

.container {
	display: flex;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;

	@include breakpoint-range($from: mobile, $to: desktopSmall) {
		flex-direction: column;
	}

	@include breakpoint-range($from: desktopSmall, $to: desktopLarge) {
		flex-direction: row;
	}

	@include breakpoint-range($from: desktopSmall) {
		padding: 0 2rem;
	}
}

.section {
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;
}

.cta {
	@extend .section;
	position: absolute;

	.name {
		font-size: clamp(3rem, 20vw, 9.5rem);
		max-width: 100%;
		line-height: 1;
		font-family: "Cattedrale Rough", sans-serif;
		text-transform: capitalize;
		-webkit-text-stroke: 2px solid var(--border);
		letter-spacing: -2px;
		user-select: none;
		pointer-events: none;
		stroke: var(--border);
		animation: upDown 10s ease-in-out infinite;
	}

	.text {
		border-radius: var(--borderRadius);
		font-weight: 300;
		text-align: center;
		color: var(--textColor);

		& p,
		small {
			backdrop-filter: blur(5px);
			border-radius: var(--borderRadius);
		}

		& p {
			line-height: 1.2;
			font-size: 1rem;
			margin-top: 3rem;
			max-width: 35rem;
		}
	}

	@include breakpoint-range($from: mobile) {
		bottom: 0;
		left: 0;
		background: var(--backgroundColor);
		border-radius: var(--borderRadius);
		min-height: 80%;
		width: 100%;
	}

	@include breakpoint-range($from: tablet) {
		bottom: 1%;
		left: 20%;
		background: transparent;
		width: fit-content;
		min-height: 70%;
	}

	@include breakpoint-range($from: desktopSmall) {
		bottom: 10%;
		left: 10%;
		min-height: 10%;
	}
}

.model {
	display: flex;
	position: absolute;
	bottom: 2%;

	margin: 0 auto;

	@include breakpoint-range($from: mobile, $to: desktopSmall) {
		& #hero-model {
			display: none;
		}
	}

	@include breakpoint-range($from: desktopSmall) {
		left: 0%;
		flex-direction: row;

		& #hero-model {
			display: block;
		}


	}
}

@keyframes upDown {

	0%,
	100% {
		opacity: 1;
		transform: translate(0, 0%);
	}

	50% {
		opacity: 0.5;
		transform: translate(0, -10%);
	}
}