.button-block {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	place-items: center;
	gap: 0.7rem;

	& a {
		color: var(--textColor);
		text-transform: uppercase;
		font-size: 0.7rem;
		font-weight: 600;
	}

	& a:hover {
		color: var(--secondary);
	}
}

.container {
	display: flex;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;

	@media screen and (min-width: var(--mobile)) and (max-width: var(--desktopSmall)) {
		flex-direction: column;
	}

	@media screen and (min-width: var(--desktopSmall)) {
		flex-direction: row;
		padding: 0 2rem;
	}
}

.section {
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;
}

.cta {
	@extend .section;
	position: absolute;
	min-height: 30%;
	bottom: 10%;
	left: 5%;


	@media (min-width: var(--mobile)) and (max-width: var(--tablet)) {
		background: var(--backgroundColor);
		border-radius: var(--borderRadius);
		min-height: 80%;
		width: 100%;
	}

	@media (min-width: var(--tablet)) {
		bottom: 1%;
		left: 20%;
		background: transparent;
		width: fit-content;
		min-height: 70%;
	}

	@media (min-width: var(--desktopSmall)) {
		bottom: 10%;
		left: 10%;
	}

	.name {
		font-size: clamp(3rem, 20vw, 9.5rem);
		max-width: 100%;
		line-height: 1;
		font-family: "Cattedrale Rough", sans-serif;
		text-transform: capitalize;
		-webkit-text-stroke: 2px solid var(--border);
		letter-spacing: -2px;
		user-select: none;
		pointer-events: none;
		stroke: var(--border);
		animation: upDown 10s ease-in-out infinite;
		text-shadow: 1px 1px 2px #ff0000, -1px -1px 2px #0000ff;
	}

	.text {
		border-radius: var(--borderRadius);
		font-weight: 300;
		text-align: center;
		color: var(--textColor);



		& a {
			color: var(--textColor);
		}

		& p,
		small {
			backdrop-filter: blur(5px);
			border-radius: var(--borderRadius);
		}

		& p {
			line-height: 1.2;
			font-size: 1rem;
			margin-top: 3rem;
			max-width: 35rem;
		}
	}
}

.model {
	display: flex;
	position: absolute;
	bottom: 2%;
	left: 0;
	margin: 0 auto;

	@media screen and (min-width: var(--mobile)) and (max-width: var(--desktopSmall)) {
		& #hero-model {
			display: none;
		}
	}

	@media screen and (min-width: var(--desktopSmall)) {
		bottom: 10%;
		left: 5%;
		flex-direction: row;

		& #hero-model {
			display: block;
		}
	}
}

@keyframes upDown {

	0%,
	100% {
		opacity: 1;
		transform: translate(0, 0%);
	}

	50% {
		opacity: 0.5;
		transform: translate(0, -10%);
	}
}