.directory-link {
  text-transform: capitalize;
  font-size: 1.4rem;
  color: var(--textColor);
  font-weight: 600;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-media {
  margin: 0 1rem;
  font-size: 1.3rem;
  color: var(--primary);
}

.site-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;

  &:hover {
    rotate: 180deg;
    transition: ease-in 3ms;
  }
}
