@import '../mediaQuery';

.directory-link {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--textColor);
  font-weight: 600;
}

.social-media-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social-media {
  margin: 0 1rem;
  font-size: 1.3rem;
  color: var(--primary);
}

.site-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;

  &:hover {
    filter: invert(9%) sepia(22%) saturate(4893%) hue-rotate(6deg) brightness(95%) contrast(102%);
  }
}
