@import '@styles/mediaQuery';

.wrapper,
.project-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: var(--paddingObject);
	width: 100%;
}

.wrapper {
	flex-direction: row;
	justify-content: center;
	align-items: center;

	@include breakpoint-range($from: mobile) {
		gap: 1rem;
	}

	@include breakpoint-range($from: desktopSmall) {
		gap: 2rem;
	}
}

.project-tabs {
	margin: 0 auto;
	padding-bottom: var(--paddingObject);
	display: flex;
	gap: 1rem;
}

.project-tab {
	padding: var(--paddingObject);
	border-radius: var(--borderRadius);
	outline: none;
	border: var(--border);
	background-color: var(--backgroundColor);
	color: var(--primary);
	text-transform: capitalize;
}

.project-tab:active,
.project-tab:hover {
	background-color: var(--primary);
	color: var(--backgroundColor);
}

.project-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.project__card {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;

	background-color: var(--backgroundColor);
	padding: var(--paddingObject);
	border-radius: var(--borderRadius);

	@include breakpoint-range($from: mobile) {
		flex-wrap: wrap;
	}

	@include breakpoint-range($from: desktopSmall) {
		flex-wrap: nowrap;
	}
}

.project-info {
	gap: 1rem;
	margin: auto 0;
}

.project-lang {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 1rem;
	font-weight: 600;
	opacity: 0.8;
	text-transform: capitalize;
}

.project__tech {
	font-weight: 400;
}

.project__title {
	font-size: 1.6rem;
	max-width: 45rem;
	text-transform: capitalize;
	margin: 0 auto;

	@include breakpoint-range($from: desktopSmall) {
		font-size: 2.5rem;
	}
}

.project__description {
	max-width: 20rem;
	margin: 2rem auto;

	@include breakpoint-range($from: desktopSmall) {
		font-size: 1.1rem;
	}

}

.project-year {
	font-weight: 200;
	font-size: 1.3rem;
}

.project__image {

	@include breakpoint-range($from: mobile) {
		display: none;
	}

	@include breakpoint-range($from: desktopSmall) {
		display: flex;
		height: 50vh;
		width: auto;
		border-radius: var(--sharpBorderRadius);
	}
}

.project__code {
	font-size: 1.3rem;
	margin: 0 auto;
	justify-content: center;

	@include breakpoint-range($from: mobile) {
		display: none;
	}

	@include breakpoint-range($from: desktopSmall) {
		display: flex;
	}
}
