@import '@styles/mediaQuery';

.wrapper,
.project-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: var(--paddingObject);
	width: 100%;
}

.wrapper {
	flex-direction: row;
	justify-content: center;
	align-items: center;

	@include from(mobile) {
		gap: 1rem;
	}

	@include from(desktopSmall) {
		gap: 2rem;
	}
}

.project-tabs {
	margin: 0 auto;
	padding-bottom: var(--paddingObject);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem;
}

.project-tab {
	padding: 1rem 1rem;
	border-radius: var(--borderRadius);
	outline: none;
	border: none;
	background-color: var(--backgroundColor);
	color: var(--primary);
	font-size: 1.3rem;
	text-transform: capitalize;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.project-tab:active,
.project-tab:hover {
	background-color: var(--primary);
	color: var(--backgroundColor);
}

.project-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.project__card {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;

	background-color: var(--backgroundColor);
	padding: var(--paddingObject);
	border-radius: var(--borderRadius);

	@include from(mobile) {
		max-width: 90vw;
		flex-wrap: wrap;
	}

	@include from(desktopSmall) {
		flex-wrap: nowrap;
	}
}

.project-info {
	gap: 1rem;
	margin: auto 0;
}

.project-lang {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 1rem;
	font-weight: 600;
	opacity: 0.8;
	text-transform: capitalize;
}

.project__tech {
	font-weight: 400;
}

.project__title {
	font-size: 1.6rem;
	max-width: 45rem;
	text-transform: capitalize;
	margin: 0 auto;

	@include from(desktopSmall) {
		font-size: 2.5rem;
	}
}

.project__description {
	max-width: 20rem;
	margin: 2rem auto;

	@include from(desktopSmall) {
		font-size: 1.1rem;
	}

}

.project-year {
	font-weight: 200;
	font-size: 1.3rem;
}

.project__image {
	display: flex;
	border-radius: var(--sharpBorderRadius);


	@include from(mobile) {
		width: clamp(150px, 100%, 500px);
		overflow: scroll;
		margin: auto;
	}

	@include from(desktopSmall) {
		height: 50vh;
		width: auto;
		overflow: hidden;
		margin: 0;
	}
}

.project__code {
	font-size: 1.3rem;
	margin: 0 auto;
	justify-content: center;

	@include from(mobile) {
		display: none;
	}

	@include from(desktopSmall) {
		display: flex;
	}
}

.gallery {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow: hidden;
	backdrop-filter: blur(5px);
}

.gallery-tile {
	// flex: 0 0 clamp(150px, 33%, 500px);
	margin: 1rem;
	overflow: hidden;
	position: relative;
}

.gallery-tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 300ms ease-in-out, filter 300ms ease-in-out;
}

.gallery-tile .picture-info {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	opacity: 0;
	transition: opacity 300ms ease-in-out, filter 300ms ease-in-out;
}

.gallery-tile .picture-info > * {
	margin: 0.5rem 1.25rem;
}

.gallery-tile .picture-info h2 {
	font-size: 3rem;
	font-family: "Roman";
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #fff;
}

.gallery-tile:hover img {
	transform: scale(1.1);
	filter: brightness(30%);
}

.gallery-tile:hover .picture-info {
	opacity: 1;
}

.imageview-wrapper {
	width: auto;
	height: clamp(200px, 100%, 250px);
	display: flex;
	align-items: center;
}

.imageview {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.imageview > * {
	margin: 1rem;
}

.imageview-image {
	max-height: 25rem;
	width: auto;
	// box-shadow: 0 20px 40px -5px rgba(66, 66, 66, 0.7);
}

.imageview-info {
	max-width: 45rem;
	text-align: right;
	position: relative;
}

.imageview-info button {
	font-size: 1.5rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: var(--secondary);
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -2em;
	right: -1em;
}

.imageview-info button:hover {
	-webkit-animation: swell 300ms ease-in-out;
	animation: swell 300ms ease-in-out;
}

.imageview-info h2 {
	font-family: "Roman";
	font-size: 2.5rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 0;
}

.imageview-info h3 {
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.imageview-info p {
	text-align: justify;
}

.imageview-info ul {
	list-style: none;
}

.fadeIn {
	-webkit-animation: fade 300ms ease-in-out forwards;
	animation: fade 300ms ease-in-out forwards;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes swell {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes swell {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1);
	}
}
