{
	"presets": [["next/babel"]],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@components": "./components",
					"@pages": "./pages",
					"@styles": "./styles",
					"@assets": "./assets",
					"@constants": "./constants",
					"@utils": "./utils",
					"@layout": "./container/layout",
					"@data": "./data",
					"@hooks": "./hooks",
					"@posts": "./posts",
					"@theme": "./theme",
					"@uploads": "./uploads"
				}
			}
		]
	]
}
