.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--paddingContainer);
}

.note {
    margin: 0 auto;
    position: relative;
    // background: var(--secondary);
    // background: url(https://i.pinimg.com/736x/e6/3c/89/e63c8907f5f0d596afbcc095b4bf7767.jpg) no-repeat;
    // background-size: cover;
    border-radius: var(--borderRadius);
    display: flex;
    transition: transform 0.3s;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    flex: 0 1 clamp(300px, 5vh, 550px);

    & .note_bg {
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 0;
        justify-content: center;
        place-items: center;
        height: 100%;
    }

    & .note_info {
        align-self: end;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        padding: 0 0 1rem 0;
    }

    & .note_content {
        height: 100%;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: balance;
        font-family: "Fira Code";
        font-size: 0.8rem;
        color: var(--secondary);
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
        max-width: 30ch;
    }

    & .name,
    & .date {
        text-align: center;
        opacity: 0.65;
        margin: 0;
    }

    & .name {
        margin: 0 auto;
        font-size: 1.6rem;
        font-family: "Cattedrale Rough";
        line-height: 1;
    }

    & .date {
        font-size: 0.8rem;
        font-family: "Fira Code";
    }

}

.name_link {
    @extend .name;

    -webkit-text-decoration: wavy;
    text-decoration: 1px wavy underline;

    &:hover {
        text-decoration: 1px underline;
    }

}

.note_form {
    @extend .note;
    display: flex;
    flex-direction: column;
    height: 100%;
    place-items: center;
    justify-content: center;
    align-items: center;
    // background-color: var(--secondary);

    a {
        color: rgb(16, 16, 16);
        opacity: 0.8;

        &:hover {
            color: #000;
        }
    }

    & input,
    textarea {
        background: none;
        color: rgb(16, 16, 16);
        width: 90%;
        margin: 0 auto;
        border: none;
    }

    & button {
        background: none;
        color: rgb(16, 16, 16);
        padding: 0.5rem 1rem;
        border: none;
        font-family: 'Cattedrale Rough';
        font-size: 1.5rem;

        &:hover {
            font-size: 2.5rem;
            opacity: 0.8;
            color: var(--backgroundColor);
        }
    }
}

// card

.card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
    perspective: 1500px;
    user-select: none;
}

.card {
    color: #8f8b83;
    margin: 1rem;
    width: 320px;
    height: 490px;
    // box-shadow: 0 1px 5px #1a191999;

    border-radius: var(--borderRadius);
    // background-color: var(--secondary);
    // background-image: url(../../assets/images/border.svg);
    background-size: cover;

    position: relative;

    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);
    // transform: rotate(-5deg);

    &:hover {
        color: #909090;
        transition-duration: 150ms;
        border-radius: var(--borderRadius);
        background-color: #000;
        box-shadow:
            0 0 30px -5px var(--secondary),
            0 0 10px -2px var(--secondary),
            0 55px 35px -20px rgba(0, 0, 0, 0.5);

        & h1 {
            color: var(--backgroundColor);
            font-family: "Cattedrale Rough";
        }
    }

    &-content {
        position: absolute;
        margin: 0 auto;
        top: 20%;
        left: auto;
        text-align: center;
        height: 65%;
        max-width: 44%;
    }

}

.card_2 {
    color: #000;
    margin: 1rem;
    width: 300px;
    height: 530px;
    box-shadow: 0 1px 5px #1a191999;

    border-radius: var(--borderRadius);
    background-color: var(--secondary);
    // background-image: url(https://imgur.com/VxjuARH.jpg);
    background-size: cover;

    position: relative;

    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0);

    &:hover {
        color: #909090;
        transition-duration: 150ms;
        border-radius: var(--borderRadius);
        background-color: #000;
        box-shadow:
            0 0 30px -5px var(--secondary),
            0 0 10px -2px var(--secondary),
            0 55px 35px -20px rgba(0, 0, 0, 0.5);

    }

}

.glow {
    position: absolute;

    border-radius: var(--borderRadius);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: grid;
    place-items: center;
    // background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
    z-index: 99;
}
