.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: var(--paddingContainer);


}

.note {
    margin: 0 auto;
    position: relative;
    aspect-ratio: 4 / 3;
    background: var(--secondary);
    border-radius: var(--borderRadius);

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;

    color: rgb(16, 16, 16);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    flex: 0 1 300px;

    & .note_bg {
        display: grid;
        place-items: center;
        height: clamp(300px, 30vh, 450px);
    }

    & .note_info {
        align-self: end;
        display: flex;
        flex-direction: column;
        padding: 0 0 1rem 0;
    }

    & .note_content {
        padding: 0.5rem;
        align-self: flex-end;
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: balance;
        font-family: "Fira Code";
        font-size: 0.8rem;
        color: var(--backgroundColor);
        margin: 0 auto;
        overflow-x: hidden;
        max-width: 30ch;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    & .name,
    & .date {
        text-align: center;
        opacity: 0.65;
        margin: 0;
    }

    & .name {
        font-size: 1.6rem;
        font-family: "Cattedrale Rough";
    }

    & .date {
        font-size: 0.8rem;
        font-family: "Fira Code";
    }

}

.name_link {
    @extend .name;

    color: #000;
    -webkit-text-decoration: wavy;
    text-decoration: 1px wavy underline;

    &:hover {
        text-decoration: 1px underline;
    }

}

.note_form {
    @extend .note;

    display: grid;
    align-items: center;
    background-color: var(--secondary);

    a {
        color: rgb(16, 16, 16);
        opacity: 0.8;

        &:hover {
            color: #000;
        }
    }

    & input,
    textarea {
        background: none;
        color: rgb(16, 16, 16);
        width: 90%;
        margin: 0 auto;
        border: none;
    }

    & button {
        background: none;
        color:  rgb(16, 16, 16);
        padding: 0.5rem 1rem;
        border: none;
        font-family: 'Cattedrale Rough';
        font-size: 2rem;

        &:hover {
            font-size: 2.5rem;
            opacity: 0.8;
            color: var(--backgroundColor);
        }
    }
}
