 

.paragraph {

		 @media screen and (min-width:  768px)  {
		p {
			max-width: 45rem;
			margin: 0 auto;
			text-align: justify;
			margin-bottom: 1rem;
		}
	}

	& b {
		font-weight: 500;
	}
}

.reading,
.random {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	// width: 100%;
	margin: 0 auto;

	& > * > img {
		user-select: none;
	}

	 @media screen and (min-width: 0px) and (max-width:  768px)  {
		gap: 0.15rem;
	}

	 @media screen and (min-width:  768px)  {
		gap: 0.5rem;
		flex-direction: row;
	}
}

.random {
	@media screen and (min-width: 960px)  {
		width: 100%;
		margin: 2rem auto;
		justify-content: center;
	}

}

.books__random {
	display: flex;
	// border: var(--border);
	border-radius: var(--borderRadius);
	transition: 0.3s ease;
	padding: var(--paddingObject);

	background-color: var(--backgroundColor);

	& .book__info {
		height:fit-content;
		margin: auto;
	}

	@media screen and (min-width: 0)  {
		display: none;
	}

	 @media screen and (min-width:  768px)  {
		width: clamp(650px, 90vw, 800px);
		min-height: 300px;

		.book__title a {
			font-weight: 300;
			line-height: 1;
			width: 25rem;
		}
	}

	@media screen and (min-width: 960px)  {
		width: clamp(650px, 70vw, 1200px);

		.book__title a {
			line-height: 1;
		}
	}
}

.books {
	align-items: center;
	justify-content: center;
	perspective: 600px;
	margin: 0;

	@media screen and (min-width: 0)  {
		display: flex;
	}
}

.book {
	margin: 0;
	width: 200px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	transition: 1s ease;
	animation: 1s ease 0s 1 bookRotation;
	scale: 0.6;

	img {
		// padding: var(--paddingObject);
		height: 100%;
		top: 10px;
		font-size: 1.3rem;
		font-weight: 500;
		text-align: center;
		font-family: var(--headingFont);
		text-transform: capitalize;
		color: var(--backgroundColor);
		display: flex;
	place-items: center;
	}



	&:hover {
		transform: rotateY(0deg);
	}

	& > :first-child {
		position: absolute;
		top: 0;
		left: 0;
		background-color: red;
		width: 200px;
		height: 300px;
		transform: translateZ(25px);
		background-color: var(--primary);
		border-radius: 0 2px 2px 0;
		box-shadow: var(--boxShadow)
	}

	&::before {
		position: absolute;
		content: ' ';
		background-color: blue;
		left: 0;
		top: 3px;
		width: 48px;
		height: 294px;
		transform: translateX(172px) rotateY(90deg);
		background: linear-gradient(90deg,
				#fff 0%,
				#f9f9f9 5%,
				#fff 10%,
				#f9f9f9 15%,
				#fff 20%,
				#f9f9f9 25%,
				#fff 30%,
				#f9f9f9 35%,
				#fff 40%,
				#f9f9f9 45%,
				#fff 50%,
				#f9f9f9 55%,
				#fff 60%,
				#f9f9f9 65%,
				#fff 70%,
				#f9f9f9 75%,
				#fff 80%,
				#f9f9f9 85%,
				#fff 90%,
				#f9f9f9 95%,
				#fff 100%);
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		content: ' ';
		width: 200px;
		height: 300px;
		transform: translateZ(-25px);
		background-color: #5e5c64;
		border-radius: 0 2px 2px 0;
		box-shadow: var(--boxShadow);
	}
}

@keyframes bookRotation {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(-30deg);
	}
}

.bookList {
	font-size: 0.9rem;
	padding: 1rem;
	border: var(--border);
	border-radius: var(--borderRadius);

	& a {
		font-size: 1rem;
	}
}

.book_info {

	 @media screen and (min-width:  768px)  {
		padding: var(--paddingContainer);
	}

}

.book__title {
	font-weight: 300;
	line-height: 1;
	color: var(--primary) !important;
	text-shadow: 1px 1px var(--borderColor);
}

.book__author {
	margin-bottom: 1rem;
	font-weight: 500;
}

.book__finished {
	font-weight: 300;
}

.book__review {
	margin: 1rem auto;
	font-weight: 400;
}

.book__review__indicator {
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	margin: 0 0.5rem;
	color: var(--secondary);
}

.book__loved {
	color: var(--primary);
}

.book__hated {
	rotate: 180deg;
}

.book__quote {
	margin: 1rem auto;
	font-style: italic;
	font-weight: 500;
	text-align: justify;
	font-size: 1.1rem;
}

.book__quote::before,
.book__quote::after {
	color: var(--textColorAlt);
}

.book__quote::before {
	margin-right: 0.25rem;
}

.book__quote::after {
	margin-left: 0.25rem;
}

.book__quote::before,
.book__quote::after {
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
}

.backlogChart {
	margin: 1rem auto;

	@media screen and (min-width: 960px)  {
		padding: var(--paddingContainer);
		margin: 3rem auto;
	}
}
