.container {
	display: flex;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;

	@media screen and (min-width: 0px) and (max-width: 960px) {
		flex-direction: column;
	}

	@media screen and (min-width: 960px) {
		flex-direction: row;
	}
}

.section {
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;
}

.cta {
	@extend .section;
	position: absolute;
	min-height: 30%;
	bottom: 5%;

	@media (min-width: 0px) and (max-width: 768px) {
		border-radius: var(--borderRadius);
		left: 25%;
		min-height: 65vh;
		width: 80vw;
		margin: 0 10vw;
	}

	@media (min-width: 768px) {
		bottom: 1%;
		left: 5%;
		background: transparent;
		width: fit-content;
		min-height: 70%;
		margin: 0 auto;
	}

	@media (min-width: 1024px) {}

	.name {
		font-size: clamp(3rem, 20vw, 9.5rem);
		max-width: 100%;
		line-height: 1;
		font-family: "Cattedrale Rough", sans-serif;
		text-transform: capitalize;
		-webkit-text-stroke: 2px solid var(--border);
		letter-spacing: -2px;
		user-select: none;
		pointer-events: none;
		stroke: var(--border);
		animation: upDown 10s ease-in-out infinite;
		text-shadow: 1px 1px 2px #ff0000, -1px -1px 2px #0000ff;
	}

	.text {
		border-radius: var(--borderRadius);
		font-weight: 300;
		text-align: center;
		color: var(--textColor);

		& a {
			color: var(--textColor);
		}

		& p,
		small {
			border-radius: var(--borderRadius);
		}

		& p {
			line-height: 1.2;
			font-size: 1rem;
			margin-top: 3rem;
			max-width: 35rem;
		}
	}
}

.model {
	display: flex;
	position: absolute;
	bottom: 2%;
	left: 0;
	margin: 0 auto;

	@media screen and (min-width: 1024px) {
		bottom: 10%;
		left: 5%;
		flex-direction: row;
	}
}

@keyframes upDown {

	0%,
	100% {
		opacity: 1;
		transform: translate(0, 0%);
	}

	50% {
		opacity: 0.5;
		transform: translate(0, -10%);
	}
}