.wrapper {
	background: transparent;
	// background-size: cover;
	// background-position: center;
	// background-repeat: no-repeat;
	// background: url('../../..//public/img/project/009.webp');
}

.container {
	display: flex;
	flex-wrap: wrap;
	place-items: center;

	@media (max-width: 1024px) {
		flex-direction: column;
	}

	@media (min-width: 1024px) {
		margin: 0 auto;
		flex-direction: row;
	}
}

.hero-half {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 2rem;

	@media (min-width: 1024px) {
		width: 50%;
		height: 100vh;
	}
}

@media (max-width: 1024px) {
	.hero-half {
		width: 100%;
	}
}

.glassmorphic {
	flex: 1 1 15rem;
	padding: var(--padding);
	background: rgba(255, 255, 255, 0.2);
	// box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: var(--border-radius-small);
	border: 1px solid rgba(255, 255, 255, 0.23);
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.07);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.23);
}
