@import '@styles/mediaQuery';

.paragraph {
	font-size: 1.1rem;

	@include breakpoint-range($from: mobile, $to: tablet) {
		max-width: 100%;
		font-size: 1rem;

		h2 {
			margin: 2rem auto;
		}

		p {
			margin: 0.5rem auto;
		}
	}

	@include breakpoint-range($from: tablet) {
		p {
			max-width: 40rem;
			margin: 0 auto;
			text-align: justify;
			line-height: 1.6;
			margin-bottom: 1rem;
		}
	}


	& a {
		text-decoration: none;
		color: var(--textColor);
		// border-bottom: 2px solid var(--primary);
		margin-bottom: 0.15rem;
	}

	& b {
		font-weight: 600;
	}
}

// CurrentReads

.reading,
.random {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 1rem auto;

	& > * > img {
		user-select: none;
	}

	@include breakpoint-range($from: mobile, $to: tablet) {
		gap: 0.5rem;
	}

	@include breakpoint-range($from: tablet) {
		gap: 1rem;
	}
}

.random {
	@include breakpoint-range($from: desktop) {
		width: 90%;
		margin: 3rem auto;
		justify-content: center;
	}

}

.books__random {
	display: flex;
	border: var(--border);
	border-radius: var(--borderRadius);
	transition: 0.3s ease;
	padding: var(--paddingObject);

	background-color: var(--backgroundColor);

	& .book__info {
		height:fit-content;
		margin: auto;
	}

	@include breakpoint-range($from: mobile) {
		width: 90%;
	}

	@include breakpoint-range($from: tablet) {
		width: clamp(350px, 40vw, 400px);
		min-height: 300px;

		.book__title a {
			font-weight: 400;
			font-size: 1rem;
			width: 25rem;
		}
	}

	@include breakpoint-range($from: desktop) {
		width: clamp(550px, 40vw, 800px);

		.book__title a {
			font-size: 1.2rem;
			line-height: 1;
		}
	}
}

.books {
	display: flex;
	align-items: center;
	justify-content: center;
	perspective: 600px;
	margin: 0;
}

.book {
	margin: 0rem;
	width: 200px;
	height: 300px;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateY(-30deg);
	transition: 1s ease;
	animation: 1s ease 0s 1 initAnimation;
	scale: 0.7;

	&:hover {
		transform: rotateY(0deg);
	}

	& > :first-child {
		position: absolute;
		top: 0;
		left: 0;
		background-color: red;
		width: 200px;
		height: 300px;
		transform: translateZ(25px);
		background-color: var(--primary);
		border-radius: 0 2px 2px 0;
		box-shadow: var(--boxShadow)
	}

	&::before {
		position: absolute;
		content: ' ';
		background-color: blue;
		left: 0;
		top: 3px;
		width: 48px;
		height: 294px;
		transform: translateX(172px) rotateY(90deg);
		background: linear-gradient(90deg,
				#fff 0%,
				#f9f9f9 5%,
				#fff 10%,
				#f9f9f9 15%,
				#fff 20%,
				#f9f9f9 25%,
				#fff 30%,
				#f9f9f9 35%,
				#fff 40%,
				#f9f9f9 45%,
				#fff 50%,
				#f9f9f9 55%,
				#fff 60%,
				#f9f9f9 65%,
				#fff 70%,
				#f9f9f9 75%,
				#fff 80%,
				#f9f9f9 85%,
				#fff 90%,
				#f9f9f9 95%,
				#fff 100%);
	}

	&::after {
		position: absolute;
		top: 0;
		left: 0;
		content: ' ';
		width: 200px;
		height: 300px;
		transform: translateZ(-25px);
		background-color: #5e5c64;
		border-radius: 0 2px 2px 0;
		box-shadow: var(--boxShadow);
	}
}

@keyframes initAnimation {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(-30deg);
	}
}

.bookDetails {
	display: block;
	width: 90%;
	margin: 1rem auto;

	&[open] > summary::before {
		content: '📖';
		transform: rotate(25deg);
	}

	@include breakpoint-range($from: mobile, $to: tablet) {
		width: 90%;
		border: var(--border);
		border-radius: var(--borderRadius);
	}

	@include breakpoint-range($from: tablet) {
		width: 100%;
	}
}

.bookDetails summary {
	position: relative;
	cursor: pointer;
	user-select: none;
	text-transform: capitalize;

	&::before {
		content: '📕'; // 📕 📗 📘 📙 📔 📓 📒 📚 📖
		position: absolute;
		left: 8px;
		transform: rotate(0deg);
		transition: transform 0.3s ease;
	}

	@include breakpoint-range($from: mobile, $to: tablet) {
		margin: 0 0.15rem;
		padding: 1rem;
	}

	@include breakpoint-range($from: tablet) {
		margin: 0 2rem;
		padding: 1rem;
	}
}

.bookList {
	font-size: 0.9rem;
	padding: 1rem;
	border: var(--border);
	border-radius: var(--borderRadius);

	& a {
		font-size: 1rem;
	}
}

// PhotoGallery

.photoContainer {
	position: relative;

	@include breakpoint-range($from: mobile, $to: tablet) {
		display: none;
	}

	@include breakpoint-range($from: tablet, $to: desktopLarge) {
		top: 60%;
		left: -35%;
		max-width: 800px;
		margin-right: 2rem;
	}
}

.picture {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid var(--borderColor);
	border-radius: ar(--borderRadius);
	background: var(--backgroundColor);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	transform: translate(-50%, -50%);
	user-select: none;
	cursor: pointer;

	& img {
		display: block;
		width: 200px;
		pointer-events: none;
	}

	& span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 50px;
		padding: 12px 24px;
		font-size: 1rem;
		text-align: center;
		font-family: 'Caveat', 'Inter', sans-serif;
		overflow: hidden;
		line-height: 1;
	}

	@include breakpoint-range($from: tablet, $to: desktopSmall) {}

	@include breakpoint-range($from: desktopSmall) {}
}

.book_info {

	@include breakpoint-range($from: tablet) {
		padding: var(--paddingContainer);
	}

}

.book__title {
	font-weight: 600;
	color: var(--primary) !important;
	text-shadow: 1px 1px var(--borderColor);
}

.book__author {
	margin-bottom: 1rem;
	font-size: 0.9rem;
	font-weight: 500;
}

.book__finished {
	font-size: 0.75rem;
	font-weight: 500;
}

.book__review {
	margin: 1rem auto;
	font-size: 0.85rem;
	font-weight: 400;
}

.book__review__indicator {
	font-size: 0.5rem;
	display: inline-flex;
	align-items: center;
	margin: 0 0.5rem;
	color: var(--secondary);
}

.book__loved {
	color: var(--primary);
}

.book__hated {
	rotate: 180deg;
}

.book__quote {
	margin: 1rem auto;
	font-size: 0.75rem;
	font-style: italic;
	font-weight: 500;
	text-align: justify;
}

// .book__quote::before {
// 	content: '“ ';
// }

// .book__quote::after {
// 	content: ' ”';
// }

.book__quote::before,
.book__quote::after {
	color: var(--textColorFade);
}

.book__quote::before {
	margin-right: 0.25rem;
}

.book__quote::after {
	margin-left: 0.25rem;
}

.book__quote::before,
.book__quote::after {
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
}

.coding__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@include breakpoint-range($from: mobile) {
		margin: 1rem auto;
	}

	@include breakpoint-range($from: tablet) {
		margin: 2rem auto;
	}

	@include breakpoint-range($from: desktop) {
		padding: var(--paddingContainer);
		gap: 0.15rem;
	}

}

.coding {
	border: var(--border);
	border-radius: var(--borderRadius);
	padding: 1rem;
	box-shadow: var(--boxShadow);
	text-align: center;
	background-color: var(--backgroundColor);

	& p {
		margin-bottom: 1rem;
		text-align: center;
	}

	@include breakpoint-range($from: mobile) {
		margin: 0.25rem;
		width: clamp(100px, 40%, 150px);
		min-height: 150px;
	}

	@include breakpoint-range($from: desktopSmall) {
		margin: 1rem;
	}
}

.code__language {
	font-size: 1.2rem;
	color: var(--primary);
	font-weight: 500;
}

.code__rank {

	line-height: 1;
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--textColorFade);

}

.code__placement {
	font-size: 1rem;
	font-weight: 500;
	color: var(--textColor);
	;
}

.backlogChart {
	margin: 1rem auto;

	@include breakpoint-range($from: desktop) {
		padding: var(--paddingContainer);
		margin: 3rem auto;
	}
}
