.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    min-height: 550px;
    text-align: center;
    margin: 1rem;
    gap: 3rem;

    &>section {
        flex: 1 1 600px;
    }
}