

$border-radius: 15px;

$line-height: 1.4;

$heading-font: 'Inter', sans-serif;
$sims-font: 'Sims Sans SC', serif;
$body-font: 'Inter', sans-serif;

$blur: blur(20px);

@mixin theme($theme) {
  @if $theme == 'dark' {
    $color: #fff;
    $background: #000;
  } @else if $theme == 'light' {
    $color: #000;
    $background: #fff;
  } @else {
    $color: #000;
    $background: #fff;
  }
  color: $color;
  background: $background;
}
 
