@import "@styles/mediaQuery";

.current {
    max-width: 35rem;
    padding: 0 1rem;
    text-align: justify;
    margin:  auto;
}

.heading {
  font-family: var(--body-font);
  text-align: left;
  margin: 1rem auto;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--secondary);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
    margin: 1.5rem auto;

    @media  screen and (max-width: 768px) {
      margin-top: 3rem;
    }

    @media  screen and (max-width: 425px) {
      margin-top: 5rem;
    }
}

.collapse {
  margin-bottom: 2rem;
  width: 100%;

  @include breakpoint-range($from: mobile, $to: desktopSmall) {
    gap: 1rem;
  }

  @include breakpoint-range($from: desktopSmall, $to: desktopLarge) {
    width: 48rem;
    gap: 2rem;
  }
}

.year {
  flex-wrap: wrap;
  display: flex;
  width: 100%;

  & > h1 {
    margin: auto 0;
    line-height: 1.2;
    color: var(--secondary);
  }

  @include breakpoint-range($from: mobile, $to: desktopSmall) {
    gap: 0;
    flex-direction: column;
    place-items: center;
    place-content: center;
  }

  @include breakpoint-range($from: desktopSmall, $to: desktopLarge) {
    gap: 1rem;
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    width: 100%;
    max-width: 48rem;

    & > p, & > span {
      align-self: center;
      padding: 0;
    }
  }
}

.season {
  align-content: flex-start;
}