@import '../../styles/variables.scss';

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    a {
        margin: 0 0.5rem;
        color: var(--muted);
        svg {
            width: 1.5rem;
            height: 1.5rem;
            transition: var(--transition);
        }

        &:hover {
            svg {
            fill: var(--clr-primary-5);
            }
        }
    }
}
