.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding:var(--paddingObject);
    width: 100%;
}

.project-tabs {
    margin: 0 auto;
    padding-bottom: var(--paddingObjectSmall);
    display: flex;
    gap: 0.5rem;
}

.project-tab {
    padding: var(--paddingObject);
    border-radius: var(--borderRadius);
    outline: none;
    border: var(--border);
    color: var(--textColorFade);
    background-color: transparent;
    text-transform: capitalize;
}

.project-tab:active, .project-tab:hover {
    background-color: var(--primary);
    color: var(--backgroundColor);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-overlay {
    flex:  0 1 320px;
    margin: 1rem;
    background-color: var(--backgroundColor);
    padding: var(--paddingObject);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
}

.project-info {
    width: 100%;
    text-align: start;
    position: relative;
    gap: 1rem;
}
.project-lang {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin: 1rem 0;
    opacity: 0.8;
}

.project-lang > div > a {
    color: var(--textColorFade);
}

.project-lang > div > a:not(:last-child)::after{
    content: "+ ";
}

.project-lang > * {
    margin-right: 1rem;
}
.project-language {
    font-weight: 700;
}

.project-title  {
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    text-shadow: none;
    color: rgba($color: var(--textColor), $alpha: 0.9);
}

.project-description {
    padding: 0.5rem 0;
    color: rgba($color: var(--textColor), $alpha: 0.8);
    font-size: 0.8rem;
    text-shadow: none;
}

.project-year {
    font-weight: 200;
}
