/* Breadcrumb.module.css */
.breadcrumbList {
    display: flex;    
    flex-flow: row wrap;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    margin-right: 2rem;

    & li::marker {
        content: '';
    }
}

.breadcrumbItem {
    margin-bottom: -2rem;
    margin-right: 0.5rem;
}

.breadcrumbItem a {
    color: var(--primary);
    font-weight: 600;
}

.breadcrumbItem a:hover {
    color: var(--secondary);
}

.breadcrumbItem::after {
    content: '/';
    margin-left: 4px;
    margin-right: 4px;
}

.breadcrumbItem:last-child a {
    color: var(--secondary);
}

.breadcrumbItem:last-child::after {
    content: '';
}