@import '@styles/mediaQuery';

.container {
	display: flex;
	flex-wrap: wrap;
	place-items: center;
	margin: 0 auto;

	@include breakpoint-range($from: mobile, $to: desktopSmall) {
		flex-direction: column;
	}

	@include breakpoint-range($from: desktopSmall, $to: desktopLarge) {
		flex-direction: row;
	}
}

.hero-half {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 1rem;

	@include breakpoint-range($from: mobile, $to: desktopSmall) {
		width: 100%;
	}

	@include breakpoint-range($from: desktopSmall, $to: desktopLarge) {
		width: 50%;
		flex-direction: row;
	}
}



.text-container {
	background-color: var(--backgroundColor);
	padding: var(--paddingContainer);
	border-radius: var(--borderRadius);
}

.text-container p b {
	font-weight: 600;
}

.button-container {
	display: flex;
	margin: 1rem auto;

	@include breakpoint-range($from: mobile, $to: desktopSmall) {
		flex-direction: column;
		width: 80%;
		margin: 1rem;
		max-width: 30rem;
		justify-content: center;
		gap: 1rem;
	}

	@include breakpoint-range($from: desktopSmall) {
		flex-direction: row;
		max-width: 35rem;
		width: 100%;
	}
}

.heroSection {
  height: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;

  p {
    font-weight: 300;
    max-width: 25rem;
    padding: 0;
  }
}

.glassmorphic {
	flex: 1 1 10rem;
	padding: var(--paddingContainer);
	color: var(--textColor);
	background: rgba(var(--backgroundColor), 0.2);
	box-shadow: var(--boxShadow);
	border-radius: var(--borderRadius);
	border: var(--border);
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.07);
	border-radius: var(--borderRadius);
	@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    // background-color: rgba(255, 255, 255, .5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
}
