.miniplayer {
  position: fixed;
  bottom: 20px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  user-select: none;
  // background-color: rgb(60, 60, 60);
  color: var(--secondary);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s ease;


  &:hover {
    border: 1px dashed var(--secondary);
    border-radius: 50%;
  }

  &:hover .songInfo {
    opacity: 1;
    visibility: visible;
  }
}

.playPauseIcon {
  font-size: 20px;
  margin: 0;
}

.songInfo {
  position: absolute;
  bottom: 10px;
  left: 60px;
  background: var(--backgroundColor);
  color: var(--primary);
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: var(--borderRadius);
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
}
