.miniplayer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    border: 1px dashed var(--secondary);
    border-radius: 50%;
  }

  &:hover .songInfo {
    opacity: 1;
    visibility: visible;
  }
}

.playPauseIcon {
  font-size: 15px;
}

.songInfo {
  position: absolute;
  bottom: 5px;
  left: 50px;
  background: var(--backgroundColor);
  color: var(--primary);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  z-index: 10;
}
