@import '@styles/mediaQuery';

.container {

	& li::marker {
		content: none;
	}

	@include from(mobile) {
		margin: 0 auto;

		& > * > ul {
			margin-left: 0;
		}
	}

	@include from(mobile) { 
		margin: auto;
		width: 78%;
	}
}

.month_lump {
	list-style: none;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	&:not(last-of-type) {
		margin-bottom: 3rem;
	}
}

.nolist {
	list-style: none;

	@include from(mobile) {
		padding-left: 0;
		width: 100%;

		& ul {
			margin-left: 0;
		}
	}

	@include from(tablet) {
		max-width: 45rem;
	}

	&::marker {
		content: none;
	}
}

.month {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 1rem 0 0 0;
}

.post {
	display: flex;
	flex-direction: column;
	margin: 2rem 0;
	padding: 0; // remove default padding from li;
}

.list {
	&__section div {
		display: flex;
		flex-direction: row;
		padding: 0;;
	}

	&__date {
		display: flex;
		font-weight: 600;
		font-size: 1.2rem;
		align-items: center;

		@include from(mobile) {
			margin-right: 0.25rem;
		}

		@include from(tablet) {
			margin-right: 0.5rem;
		}
	}

	&__title {
		align-self: center;
		line-height: 1.2;
		font-size: 1.2rem;
		margin: 0;
		word-wrap: break-word;
		text-transform: capitalize;
		font-family: 'Poppins', sans-serif;
	}

	&__description {
		max-width: 30rem;
		margin: 0;
		font-size: 1rem;
		line-height: 1.1;
		opacity: 0.7;
		color: var(--textColor);
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0.1rem 0;
		font-size: 1rem;
		opacity: 0.7;
		line-height: 1;
	}

	&__tag {
		color: var(--textColor);
		padding: 0.1rem;
		font-size: 0.8rem;
		text-transform: capitalize;
	}

	&__title,
	&__description,
	&__date {
		text-align: start;
	}
}
