.card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  perspective: 1500px;
  user-select: none;
}

.card {
  color: #000;
  margin: 1rem;
  width: 320px;
  height: 490px;
  box-shadow: 0 1px 5px #1a191999;

  border-radius: var(--borderRadius);
  background-color: var(--secondary);
  // background-image: url(../../assets/images/border.svg);
  // background-size: cover;

  position: relative;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  transform: rotate(-5deg);
}

.card:hover {
  color: #909090;
  transition-duration: 150ms;
  border-radius: var(--borderRadius);
  background-color: #000;
  box-shadow:
    0 0 30px -5px var(--primary),
    0 0 10px -2px var(--primary),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

    & h1 {
      color: var(--backgroundColor);
      font-family: "Cattedrale Rough";
    }
}

.card .glow {
  position: absolute;

  border-radius: var(--borderRadius);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  display: grid;
  place-items: center;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
  z-index: 99;
}

.card-content {
  position: absolute;
  top: 26%;
  left: 38%;
  text-align: center;
  max-width: 8rem;
  writing-mode:vertical-lr;


  & h1 {
    font-family: "Cattedrale";
    font-size: 5rem;
    line-height: 1;
    font-weight: bold;
    color: #000;
    // one word per line 
    word-spacing: 100vw;
    z-index: 10;

    &:hover {
      transition: color 0.5s;
      color: var(--backgroundColor);
    }

  }
}
