.blog--article {
    padding: 2rem;

    height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid var(--faint);
  border-radius: 8px;
}

.blog--article:hover {
    cursor: pointer;
    background-color: var(--faint);
}

.blog--article__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.blog--article__date {
    font-size: 0.9rem;
    color: var(--lightgrey);
    text-align: center;
}

.blog--article--title {
    color: var(--primary);
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    height: 5rem;
    text-align: center;
}

.blog--article--title:hover {
    cursor: pointer;
    color: var(--accent);
}

.blog--article--description {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: var(--text);
}

@media (max-width: 320px) {

    .blog--article {
        max-width: 275px;
    }
    
    .blog--article--title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    .blog--article--description {
        font-size: 0.7rem;
        padding: 0;
    }
  }

  @media (min-width: 768px) {
    .blog--article {
    width: 400px;
    height: fit-content;
    margin-bottom: 1rem;
    }

    .blog--article--title {
      font-size: 2rem;
    }
  }
