.project-wrapper {
    padding: 4rem 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-tabs {
    max-width: 75%;
    padding-bottom: 2rem;
}

.project-tab {
    padding: var(--padding-small);
    margin-right: 1rem;
    border-radius: var(--border-radius);
    outline: none;
    border: var(--border);
    color: var(--grey);
    background-color: transparent;
    text-transform: capitalize;
}

.project-tab:active, .project-tab:hover {
    background-color: var(--grey);
    color: var(--body);
}

.project {
    max-width: 75%;
    padding: var(--padding);
    border-bottom: var(--border);
    margin: var(--margin);
}

.project-info {
    text-align: start;
    position: relative;
    gap: 1rem;
}
.project-lang {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    margin: 1rem 0;
    opacity: 0.8;
}

.project-lang > div > a {
    color: var(--grey);
}

.project-lang > div > a:not(:last-child)::after{
    content: "+ ";
}

.project-lang > * {
    margin-right: 1rem;
}
.project-language {
    font-weight: 700;
}

.project-title  {
    font-size: 1.3rem;
    text-align: start;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 500;
}

.project-description {
    max-width: 80%;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    opacity: 0.8;
}

.project-year {
    position: absolute;
    right:0;
    bottom: 45%;
    font-weight: 200;
}

.project-overlay {
    z-index: 999;
    border-radius: var(--border-radius);
}
