

/* Links & Typography */




/* WRAPPER  */



@media screen and (max-width: 600px) {

    .wrapper {
        padding: 0.5rem 1rem;
    }

    #home .hero-text {
        width: 100% !important;
        margin: 0 !important;
    }

    #home p {
        line-height: 1.4;
        font-size: 1rem;
    }
}

iframe[seamless] {
    width: 100%;
    border: none;
}


/*================================================== 

SHARED CLASSES 

====================================================*/





.callout {
    background-color: var(--light-accent);
    color: var(--light-shades);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.gif {
    max-width: 400px;
}

.lesson {
    margin-top: 2rem;
}

.lesson details {
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    place-items: center;
}

.lesson details:open {
    border-radius: 15px;
}

.lesson details::marker {
    color: var(--light-shades);
}

.lesson > * > .description {
    width: 80%;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-style: oblique;
}

.game-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.game-stats #time {
    font-size: 1.5rem;
    font-weight: 500;
}

.flex-column-half {
    width: 50%;
    display: flex;
    flex-direction: column;
}

/*====================================================

UTILITY CLASSES

=====================================================*/
.center {
    display: grid;
    place-items: center;
}

.div--left {
    width: 45%;
    float: left;
    margin-right: 1rem;
}

.div--right {
    width: 45%;
    float: right;
}

/*====================================================
home 
=====================================================*/

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-shades);
    opacity: 0.3;
    background: url("/img/laptop_by_kalecream.png") no-repeat center center/cover;
    filter: saturate(0.4);
    z-index: -1;
}
#home image {
    margin: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}