 

.field {
	display: flex;
	align-items: center;
	width: 100%;
	scale: 0.55;

	& .label {
		margin: 1rem;
		text-transform: uppercase;
		font-family: "Inter";
		letter-spacing: 1px;
		color: var(--primary);
	}

	@media screen and (min-width: 0)  {
		flex-direction: column;
	}

	@media screen and (min-width: 960px)  {
		width: fit-content;
		flex-direction: row;
		position: absolute;
		right: 3%;
		bottom: 5%;
	}
}

.mouse {
	display: block;
    opacity: 0.8;
	width: 50px;
	height: 85px;
	border: 3px solid var(--primary);
	border-radius: 50px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--primary);
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}


@keyframes wheel {
		to {
			opacity: 0;
			top: 60px;
		}
	}

	@-webkit-keyframes wheel {
		to {
			opacity: 0;
			top: 60px;
		}
	}
