 

.indicator {
    height: 1rem;
    width: 1rem;

     breakpoint-range($from:mobile, $to: tablet) {
        display: none;
    }

     @media screen and (min-width:  768px)  {
        display: block;
    }

}

.card {
    display: flex;
    margin: 1rem 0;

     breakpoint-range($from:mobile, $to: desktopSmall) {
        flex-direction: column;
    }

     @media screen and (min-width: 960px)  {
        flex-direction: row;
    }

    & h2 {
font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
    }

    &__body {
 display: flex;
    flex-direction: column;
    }

    &__title {
font-weight: 400;;
    }

    &__dates {
       color: var(--textColorAlt);
    }

    &__points {
        margin: 1rem;
         color: var(--textColorAlt);
    }
}
