@import '@styles/mediaQuery';

.work-button {
    width: 200px;
    border: var(--border);
    border-radius: var(--borderRadius);
    background-color: var(--backgroundColor);
    font-weight: 600;
    color: var(--textColor);
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    animation: workScroll 5s infinite;

    @media (prefers: reduced-motion ) {
        
    }

    @include breakpoint-range($from: mobile) {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
    }

    @include breakpoint-range($from: mobile, $to: tablet) {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }

    @include breakpoint-range($from: tablet) {
        font-size: 0.8rem;
        padding: var(--paddingObjectSmall);
    }

    & span::before {
        content: " ";
    border-radius: 50%;
    background-image: radial-gradient( green, var(--backgroundColor));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    }
}

.work-button:focus, .work-button:active, .work-button:hover {
    background-color: var(--secondary);
    color: var(--backgroundColor);
    animation: none;
}

@keyframes workScroll {
    0% {
        color: var(--primary);
    }

    25% {
        color: var(--textColor);
    }

    50% {
        color: var(--primary);
    }

}
