@import '@styles/variables.scss';

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    a {
        margin: 0 0.5rem;
        color: rgba(var(--textColor), 0.5);
        svg {
            width: 1.5rem;
            height: 1.5rem;
            transition: var(--transition);
        }

        &:hover {
            svg {
            fill: var(--primary);
            }
            }
        }
    }
